<div class="footer">
    <div class="col-1">
        <h3>Our Newsletter</h3>
        <p>Tamen quem nulla quae legam multos <br> aute sint culpa legam noster magna</p>
        <form>
            <div class="grid p-fluid" >
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <input type="email" size="10" pInputText required>   
                        <button type="button" pButton pRipple styleClass="p-button-warn" label="Subscribe" font-size="15px"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-2">
        <h3>USEFUL LINKS</h3>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
    </div>
    <div class="col-3">
        <h3>Contact Us</h3>
        <p>Phone: +1 5589 55488 55</p>
        <p>Email: info@example.com</p>
    </div>
</div>

