<header>
    <nav class="navbar">
        <div class="container1">
            <h2 class="logo">MODERNA</h2>  
            <div class="menu">        
                <ul class="item">
                    <li [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} ariaCurrentWhenActive="page">Home</li>
                    <li [routerLink]="['/about']" routerLinkActive="active" ariaCurrentWhenActive="page">About</li>
                    <li [routerLink]="['/service']" routerLinkActive="active" ariaCurrentWhenActive="page">services</li>
                </ul>
            </div>    
        </div>
    </nav>
</header>


