
body{
    font-size: 2rem;
}

h1{
    font-weight: 500;
    margin-top: 50px;
}

.ident {
    margin-top: -110px;
    text-align: end;
}


.delivery-address{
    margin-top: 35px;
}

body.printBody1 {
    font-size: 10pt;
}




